# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/workspace.xml
.idea/workspace.xml

.idea/dataSources.local.xml

.idea/libraries/eclipselink.xml

.idea/workspace.xml

out/production/Projektuppgift/META-INF/persistence.xml

out/production/Projektuppgift/res/leftArrow_icon.png

out/production/Projektuppgift/res/rightArrow_icon.png

out/production/Projektuppgift/view/addGroup.fxml

out/production/Projektuppgift/view/editGroupFirst.fxml

out/production/Projektuppgift/view/editGroupSecond.fxml

out/production/Projektuppgift/view/settings.fxml

out/production/Projektuppgift/view/shareTest.fxml

out/production/Projektuppgift/view/test.fxml

Projektuppgift.iml

out/production/Projektuppgift/view/test.fxml
.idea/workspace.xml
